<div class='list-book'>
  <div class='image-book'>
    <%= image_tag @book.image_url.to_s, class: 'mr-1' %>
    <div class="comment">
      <h2><%= I18n.t('shop.book.comments') %></h2>
      <%= render @book.comments %>
      <%= render 'comments/form' %>
    </div>
  </div>
  <div class='details-book'>
    <b><%= @book.name %></b>
    <p><%= @book.description %></p>
    <b><%= I18n.t('shop.book.price') %> : <%= @book.price %></b></br>
    <b><%= I18n.t('shop.book.publisher') %> : <%= @book.publisher %></b></br>
    <b><%= I18n.t('shop.book.category') %> : <%= @book.category.name %></b></br>
  </div>
  <div class="row">
    <%= link_to 'Mua ngay', new_book_order_path(@book) ,class: 'btn btn-primary'%>
  </div>
</div>
